<!DOCTYPE html>
<html ng-app="app">
<head>
<title>Recent Changes in {{space}}</title>
<link rel="stylesheet" href="/bags/tiddlers/common/normalize.css">
<link rel="stylesheet" href="/tsrc.css">
</head>
<body>
<header>
    <div>
        <h1>Recent Changes in {{space}}</h1>
    </div>
</header>
<div class="changes" ng-controller="ChangesCtrl">
    <input type="text" ng-model="filterText" size="30"
        placeholder="Filter Titles, Tags or Times">
    <ul class="tiddlers">
        <li class="tiddler hide" ng-class="show"
         ng-repeat="change in changes | filter:filterText | orderBy:'-modified'">
        <a ng-show="multiplemods" class="sitelink" href="{{modifierSite(change)}}"
            title="{{change.modifier}}">
            <img ng-src="{{modifierSite(change)}}SiteIcon" alt="siteicon"></a>
         <a class="title" ng-href="/{{change.title | escape}}">
             {{change.title}}</a>
        <span class="modified">{{change.modified | modtime}}</span>
        <ul ng-show="change.tags" class="tags">
            <li class="tag"
            ng-repeat="tag in change.tags | orderBy:'toString()'">
            <a href="/search?q=tag:{{tag | escape}}">{{tag}}</a></li>
        </ul>
        </li>
    </ul>
</div>
<footer>
    <p>Another fine <a href="//tiddlyspace.com">TiddlySpace</a> <a href="//tsapp.tiddlyspace.com">tsapp</a> from <a href="//cdent.tiddlyspace.com/">cdent</a>.</p>
</footer>
<script src="/status.js"></script>
<script src="/bags/tsrc/tiddlers/moment.js"></script>
<script src="/bags/tsrc/tiddlers/angular.js"></script>
<script src="/bags/tsrc/tiddlers/tsrc.js"></script>
<script src="/bags/common/tiddlers/backstage.js"></script>
</body>
</html>
